body{
    

}



h1{
    font-size: 40px;
    /* text-align: center; */
    /* max-width: 10ch; */
    margin-left: 1rem;
    margin-right: 4rem;
    margin-bottom: 2px;
    line-height: 1.5;
}



header p{
    font-size: 15px;
    margin-left: 13rem;
}

article{
    padding-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* width: 15ch; */
}

main {
    font-size: 18px;
  
}

main p{
    padding-top: 10px;
}

h2{
    font-size: 30px;
    width: 15ch;
    margin-left: 20px;
    text-align: center;
}

h3{
    font-size: 22px;
    /* width: 20ch; */
}


section p{
    font-size: 18px;
}


footer{
    width: 38ch;
}

footer p{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 5ch;
    
    background-color: black;
    color: white;
    font-size: 10px;
}

@media (min-width: 1281px){
    footer{
        width: 100ch;
    }
    
    footer p{
        
        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        height: 5ch;
        margin-left: 20px;
        margin-right: 20px;
        background-color: black;
        color: white;
        font-size: 30px;
}


}