:root{
    --primary-color:#EDDCBE;
    --text-color:black;
    --yellow-color:#fbb300;
    --red-color:#d53e33;
    --blue-color:#377af5;
    --green-color:#0D8A21;
    --header-color:white;
    --border-display: none;
    --border-style: 3px solid black;
    --border-desk: 5px solid black;
}

body{
    background-color:var(--primary-color); 
    padding-left: .5rem;
    padding-right: .5rem;

}
header{
    display: grid;
    padding: 20px;
}

.navbar{
    overflow: hidden;
    z-index: 1;
    position: sticky;
    top: 0;
    padding-bottom: 20px;
    margin-right: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.navbar a {
    float: left;
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
    padding: 14px 18px;
   
    text-decoration: none;
    background-color:var(--yellow-color);
    width: -webkit-fill-available;
  }

  

.navbar .dropdown1 a{
    background-color: var(--blue-color);
    color:var(--header-color);
    width: -webkit-fill-available;
}

.navbar .dropdown2 a{
    background-color: var(--green-color);
    color: var(--header-color);
    width: -webkit-fill-available;
  }

.navbar .dropdown3 a{
    background-color: var(--red-color);
    color: var(--header-color);
    width: -webkit-fill-available;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.navbar a:hover, .dropdown:hover {
    background-color: var(--text-color);
}
  
.dropdown:hover{
    display: block;
}

*, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

header, .list, .list1, .list2,.grid-line, blockquote{
    position: relative;
	z-index: -1;
	border-radius: 10px;
	overflow: hidden;
	padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: grid;
    margin-top: 40px;
    margin-bottom: 40px;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color:var(--green-color);
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: var(--header-color);
		border-radius: 5px;
	}
}

.list, .list1, .list2, .grid-line,blockquote{
    &::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: var(--header-color);
		border-radius: 5px;
        background-image: none;
	}
}

h1{
    font-size: 30px;
    text-align: left;
    font-family: Didot;
    color: var(--header-color);
    
}

h2{
    font-size: 25px;
    font-family: Didot;
    color: var(--header-color);
    padding-left: 20px;
}

article{
    margin-top: 50px;
    margin-right: 5px;
}

article p, li, .author p{
    font-size: 20px;
    font-family: Minion;
    font-weight: 400;
    line-height: 1.4;
    font-size: 18px;
    
}

aside{
    position: sticky;
    top: 1.6rem;
    padding: 0;
   
}

li{
    font-family: Minion;
    padding: 10px;
    
  
}

blockquote{
    font-family: Minion;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 1.5;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#section1, #section2, 
#section3, #section4, #response{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin-top: 50px;
}

.title, .title1, .title2, .title3, .title4{
    grid-column: 1;
    grid-row: 1;
}


footer{
    
    background-color: var(--text-color);
}

footer p{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    height: 5ch;
    color: var(--header-color);
    font-size: 13px;
}


@media(min-width: 425px){
    body{
        padding-left: 3%;
        padding-right: 3%;
      
    }
}

@media(min-width: 500px){
    body{
        padding-left: 5%;
        padding-right: 5%;
      
    }
    h1{
        font-size: 2.8rem;
    }
} 

@media (min-width: 605px){
    body{
        padding-left: 7%;
        padding-right: 7%;
    
    }
    h1{
        font-size: 3.1rem;
    }
}

@media (min-width: 690px) {

    body{
        padding-left: 9%;
        padding-right: 9%;
    }

    h1{
        font-size: 3.4rem;
    }
}
@media (min-width: 783px) {

    body{
        padding-left: 11%;
        padding-right: 11%;
    }

    h1{
        font-size: 3.4rem;
    }
}

@media (min-width: 824px) {

    body{
        padding-left: 13%;
        padding-right: 13%;
    }

    h1{
        font-size: 3.5rem;
    }
}

@media (min-width: 890px) {

    body{
        padding-left: 15%;
        padding-right: 15%;
    }

    h1{
        font-size: 3.8rem;
    }
}


@media (min-width: 1024px) {

    body{
        padding-left: 16%;
        padding-right: 16%;
    }

    h1{
        font-size: 4rem;
    }


}

@media (min-width: 1139px) {

    body{
        padding-left: 18%;
        padding-right: 18%;
    }

    h1{
        font-size: 4.3rem;
    }

}


@media (min-width: 1286px) {

    body{
        padding-left: 18%;
        padding-right: 18%;
    }

    h1{
        font-size: 4.5rem;
    }

    .author p, .time p, .publish p, .book p, .subheader p{
        font-size: 25px;
    }

    #section1, #section2, #section3, #section4, #response{
        
        grid-template-columns: 400px 1fr;
    }

    .page1{
        grid-column: 2;
        grid-row: 1;
    }

    .page1, .page2, .page3, .page4, .page5, .page6, .page7, .page8, .quote1, .quote2, .quote5, .list3, .line, .sentence{
        padding-left: 3.75rem;
    }

    .title, .title1, .title2, .title3, .title4{
        grid-column: 1;
        grid-row: 1;
    }

}

@media (min-width: 1337px) {

    body{
        padding-left: 20%;
        padding-right: 20%;
    }

    h1{
        font-size: 4.5rem;
    }

    .author p, .time p, .publish p, .book p, .subheader p{
        font-size: 25px;
    }

    #section1, #section2, #section3, #section4, #response{
        
        grid-template-columns: 400px 1fr;
    }


    .page, .page1, .page2, .page3, .page4, .page5, .page6, .page7, .page8, .quote1, .quote2, .quote5, .list3, .line, .sentence{
        padding-left: 3.75rem;
    }

    .title, .title1, .title2, .title3, .title4{
        grid-column: 1;
        grid-row: 1;
    }

}
@media (min-width: 1426px) {
    body{
        padding-left: 22%;
        padding-right: 22%;
    }

    h1{
        font-size: 4.8rem;
    }
    .page1{
        grid-column: 2;
        grid-row: 1;
    }


    .author p, .time p, .publish p, .book p, .subheader p{
        font-size: 25px;
    }

    #section1, #section2, #section3, #section4, #response{
        
        grid-template-columns: 400px 1fr;
    }


    .page, .page1, .page2, .page3, .page4, .page5, .page6, .page7, .page8, .quote1, .quote2, .quote5, .list3, .line, .sentence{
        padding-left: 3.75rem;
    }

    .title, .title1, .title2, .title3, .title4{
        grid-column: 1;
        grid-row: 1;
    }

}

@media (min-width: 1440px){
    body{
        padding-left: 20%;
        padding-right: 20%;
    }
   
    
    .navbar a {
        float: left;
        font-size: 30px;
        color: var(--text-color);
        text-align: center;
        text-decoration: none;
       
    }

    h1{
        font-size: 5rem;
        padding: 30px;
    }

    h2{
        font-size: 1.563rem;
        text-align: left;
        padding: 20px;
    }

    article p{
        font-size: 1.25rem;
        font-weight: 500;
    }

    aside{
        grid-column: 1;
        grid-row: 1;
    }


    .author p, .time p, .publish p, .book p, .subheader p{
        font-size: 25px;
    }

    #section1, #section2, #section3, #section4, #response{
        
        grid-template-columns: 400px 1fr;
        margin-top: 100px;
    }

    .page1{
        grid-column: 2;
        grid-row: 1;
    }


    .page1, .page2, .page3, .page4, .page5, .page6, .page7, .page8, .quote1, .quote2, .quote5, .list3, .line, .sentence{
        padding-left: 3.75rem;
    }

    .title, .title1, .title2, .title3, .title4{
        grid-column: 1;
        grid-row: 1;
    }


    
    footer{

        margin-top: 200px;
    }
    
    footer p{

        padding-left: 20px;
        padding-bottom: 20px;
        padding-top: 10px;
        /* height: 5ch; */
        margin-left: 20px;
        margin-right: 20px;
        background-color:var(--text-color);
        color:var(--header-color);
        font-size: 20px;
        
    }


}





