body{
    

}



h1{
    font-size: 40px;
    /* text-align: center; */
    /* max-width: 10ch; */
    margin-left: 1rem;
    margin-right: 4rem;
    margin-bottom: 2px;
    line-height: 1.5;
}



header p{
    font-size: 30px;
    margin-left: 25rem;
}

article{
    padding-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    /* width: 15ch; */
}

main {
    font-size: 18px;
    /* width: 20ch; */
}

main p{
    padding-top: 10px;
}

h2{
    font-size: 30px;
    width: 15ch;
    margin-left: 20px;
    text-align: center;
}

h3{
    font-size: 22px;
    /* width: 20ch; */
}


section p{
    font-size: 18px;
}


footer{
    width: 35ch;
}

footer p{
    padding-left: 100px;
    padding-top: 50px;
    height: 10ch;
    
    background-color: black;
    color: white;
    font-size: 20px;
}


