:root{
    --primary-color:#EDDCBE;
    --text-color:black;
    --yellow-color:#fbb300;
    --red-color:#d53e33;
    --blue-color:#377af5;
    --green-color:#0D8A21;
    --header-color:white;
    --border-style: 3px solid black;
    --border-desk: 5px solid black;
    
}



header{
    display: grid;
    grid-template-columns: 200px 101px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;   
}

h1, .publish, .book{
  
    padding-left: 13px;
    color: var(--header-color);
    padding-top: 0;
}

h2{
    background-color: var(--red-color);
}



header p{
    font-size: 15px;
}


.header1{
    grid-column: 1/span 2;
    grid-row: 1;
    border: var( --border-style);
    background-color: var(--red-color);
}

.header2{
    grid-column: 1;
    grid-row: 2/span 2;
    border: var( --border-style);
    border-top: none;
    background-color: var(--yellow-color);
}

.publish{
    grid-column: 2;
    grid-row: 2;
    border-right: var( --border-style);
    border-bottom:var( --border-style);
    background-color:var(--blue-color);
    
}

.book{
    grid-column: 2;
    grid-row: 3;
    border-right:var( --border-style);
    border-bottom: var( --border-style);
    background-color: var(--green-color);
}



.page1{
    grid-column: 1;
    grid-row: 2;
}


.quote{
    grid-row: 2;
}

.page2{
    grid-row: 3;
}


.page3{
    grid-row: 2;
}


.page4{
    grid-row: 2;
}

.footnote li{
    font-size: 13px;
    padding: 5px;
}

#first{
    border-top: 3px solid #888;
}

#second{
    border-top: 3px solid #888;
    border-bottom: 3px solid #888;
}

@media(min-width: 425px){
    header{
        grid-template-columns: 200px 140px;
        grid-template-rows: repeat(3, 100px);
    }
}
@media(min-width: 500px){
    header{
        grid-template-columns: 250px 150px;
        grid-template-rows: repeat(3, 100px);
    }

    h1{
        margin: 0;
        padding-top: 40px;
    }
}

@media (min-width: 690px) {
    header{
        grid-template-columns: 300px 150px;
        grid-template-rows: 150px repeat(2, 100px);
    }
}

@media (min-width: 783px) {
    header {
        display: grid;
        grid-template-columns: 300px 250px;
        grid-template-rows: 200px repeat(2, 100px);
        justify-content: center;
    }
   
}


@media (min-width: 1139px) {
    header{
        display: grid; 
        grid-template-columns: 330px 300px;
        grid-template-rows: 200px 150px 100px;
    }



}

@media (min-width: 1286px) {
    header{
        display: grid;
        grid-template-columns: 400px 300px;
        grid-template-rows: 250px repeat(2, 150px);
          
    }

    

    h1{
        
        padding-left: 30px;
        
    }


    header p{
        font-size: 20px;
    }

    h2{
        grid-column: 1;
        grid-row: 1;
        position: sticky;
        top: 2.9rem;
        padding: 20px;
    }

  
    

    .quote{
        grid-column: 1;
        grid-row: 2;
    }
    
    .page1{
        grid-column: 2;
        grid-row: 1;
    }


    .page2{
        grid-column: 2;
        grid-row: 1/span 3;
    }


    .page3{
        grid-column: 2;
        grid-row: 1/ span3;
    }

    .page4{
        grid-column: 2;
        grid-row: 1;
    }

}


@media (min-width: 1440px){
 
    header{
       
        grid-template-columns: 500px 300px;
        grid-template-rows: 250px repeat(2, 150px);
          
    }

    aside{
        position: sticky;
        top: 2.6rem;
        padding: 0;
        grid-column: 1;
        grid-row: 1;
       
    }


    header p{
        font-size: 20px;
    }

    .quote{
        grid-column: 1;
        grid-row: 2;
    }
    .page1{
        grid-column: 2;
        grid-row: 1;
    }


    .page2{
        grid-column: 2;
        grid-row: 1/span 3;
    }


    .page3{
        grid-column: 2;
        grid-row: 1/ span3;
    }

    .page4{
        grid-column: 2;
        grid-row: 1;
    }

   
}
