body{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar{
    overflow: hidden;
    z-index: 1;
    position: sticky;
    top: 0;
    padding: 0;
    
}
.navbar a {
    float: right;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #EED819;
  }

  

.navbar .dropdown1 a{
    background-color: #2B28D4;
    color: white;
}

.navbar .dropdown2 a{
    background-color: #0D8A21;
    color: white;
  }

.navbar .dropdown3 a{
    background-color: #8A230D;
    color: white;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.navbar a:hover, .dropdown:hover {
    background-color: grey;
}
  
.dropdown1 .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 16px;
}

.dropdown2 .dropdown-content{
    display: none;
    position: absolute;
    margin-top: 16px;
    margin-left: 16px;
}

.dropdown3 .dropdown-content{
    display: none;
    position: absolute;
    margin-top: 16px;
    margin-left: 180px;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-top: 30px;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 80px  repeat(2, 50px);
}

h1{
    font-size: 40px;
    text-align: left;
}

.header{
    grid-column: 1;
    grid-row: 1;
    
}

.subheader{
    grid-column: 1;
    grid-row: 2;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.author{
    grid-column: 1;
    grid-row: 3;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.time{
    grid-column: 1;
    grid-row: 4;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
   
}

#section1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 150px 1fr repeat(2, 150px) 100px 150px 1fr;
}

aside{
    grid-column: 1;
    grid-row: 1;
}

.page1{
    grid-column: 1;
    grid-row: 2;
}

.page2{
    grid-column: 1;
    grid-row: 3;
}

.quote1{
    grid-column: 1;
    grid-row: 4;
}

.page3{
    grid-column: 1;
    grid-row: 5;
}

.quote2{
    grid-column: 1;
    grid-row: 6;
}

.page4{
    grid-column: 1;
    grid-row: 7;
}