body{
    margin: 0;
    /* background-color: #FFE0B5; */
    background-color: #FDE7BB;
   
}

header{
    display: grid;
    grid-template-columns: 100px 273px;
    grid-template-rows: 150px 150px 100px;
    border-style: solid;
    margin-top: 20px;
    
}

p{
    font-size: 13px;
}


h1{
    font-size: 45px;
    text-align: left;
    font-family: Doto;
    
}

h2{
    font-family: Doto;
    font-size: 30px;
    width: 15ch;
    margin-left: 20px;
    text-align: center;
    color: white;
    background-color: #0D8A21;
}

h3{
    font-size: 22px;
    
}


span{
    border-style: solid;
    padding: 10px;
    line-height: 2;
}


article{
    padding-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
   
}

article p{
    font-size: 13px;
    font-family:  "Raleway", sans-serif;
    line-height: 1.5;
}
   
li{
    font-size: 13px;
    font-family:  "Raleway", sans-serif;
    line-height: 1.5;
    list-style-type: decimal;
}
    

.author{
    background-color: #FFD23F;
    font-family:  "Raleway", sans-serif;
    grid-column: 1/span 2;
    grid-row: 3;
    
}

.author p{
    font-size: 20px;
    padding-top: 13px;
    padding-left: 20px;
}

.a{
    /* font-size: 20px; */
    padding-top: 20px;
    padding-left: 15px;
}

.the{
    background-color: #2B28D4;
    color: white;
    padding-left: 10px;
    grid-column: 1;
    grid-row: 1/span 2;
    padding-left: 20px;
    
}

.modern{
    padding-left: 10px;
    grid-column: 2;
    grid-row: 1;
    background-color: #0D8A21;
    color: white;
}

.grid{
    background-color: #8A230D;
    grid-column: 2;
    grid-row: 2;
    padding-top: 20px;
    color: white;
}

.g{
    padding-left: 20px;
}

#tool{
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 110px 1fr 80px 100px 70px 200px;
    /* 
    background: linear-gradient(90deg, blue 50%, transparent 50%),  linear-gradient(0deg, blue 50%, transparent 50%), linear-gradient(0deg, blue 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
    padding: 10px;
    animation: border-dance 5s infinite linear; */

    
}




/* @keyframes border-dance {
    0% {
      background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
    }
    100% {
      background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
    }
  } */




aside{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    /* background-color: #0D8A21; */
    position: sticky;
    top: 0;
    padding: 0;
}

.title1 h2{
    margin-top: 13px;
    
}

main{
    grid-column: 1;
    grid-row: 2;
}

.title1{
    grid-column: 1;
    grid-row: 1;
    /* background-color: #0D8A21; */
   
}


.title{
    grid-column: 1;
    grid-row: 3;
    margin-top: 0;  
  
}

.line{
    display: grid;
    grid-column: 1;
    grid-row: 4;
}

.line li{
    border-top: 3px solid #888;
    list-style-type: disc;
   
}

.re{
    border-bottom: 3px solid #888;
}



.page1{
    grid-column: 1;
    grid-row: 5;
    
}

.page2{
    grid-column: 1;
    grid-row: 6;
    margin-top: 3rem;
    /* width: 33ch; */
}

#aethetics{
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 200px 100px 100px 150px 500px 200px 100px 200px 500px 300px 650px;
}

.title2{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin-top: 50px;
    /* background-color: #0D8A21; */
}

.symbol{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    margin-top: 0;
}

.symbol p{
    font-size: 100px;
    padding-left: 100px;
    margin-top: 0;
    
}

.quote{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
    border-top: 3px solid #888;
    padding-top: 10px;
    
}


.page5{
    display: grid;
    grid-column: 1;
    grid-row: 4;
}

.page6{
    display: grid;
    grid-column: 1;
    grid-row: 5;
}

.grid-line{
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
    display: grid;
    grid-column: 1;
    grid-row: 6;
}

.sentence1{
    display: grid;
    grid-column: 1;
    grid-row: 7;
}

.list{
    display: grid;
    grid-column: 1;
    grid-row: 8;
    background-color:#FFD23F;
    box-shadow: 10px 10px 5px lightblue;
    padding: 20px;
}

.page7{
    display: grid;
    grid-column: 1;
    grid-row: 9;
}

.list1{
    display: grid;
    grid-column: 1;
    grid-row: 10;
    background-color:#FFD23F;
    box-shadow: 10px 10px 5px lightblue;
    padding: 20px;
    
}

/* .list2 li{
    padding-top: 20px;
} */

.page8{
    display: grid;
    grid-column: 1;
    grid-row: 11;
}



blockquote{
    font-size: 20px;
    font-family:  "Raleway", sans-serif;
    font-style: italic;
}

#rectangle{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2,100px);
}

.square{
    height: 50px;
    width: 50px;
}

#rectangle > .square{
    background-color: gray;
    border-color: black;
    margin: 0;
}

#swiss{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 150px) 500px 1fr;
}


.title3{
    grid-column: 1;
    grid-row: 1;
    /* background-color: #0D8A21; */
}

main{
    grid-column: 1;
    grid-row: 2;
}

.list2{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    background-color:#FFD23F;
    box-shadow: 10px 10px 5px lightblue;
    padding: 20px;
}


.final{
    grid-column: 1;
    grid-row: 4;
}



@media (min-width: 1281px){
    body{
        margin-left: 200px;
        margin-right: 200px;
    }
    header{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 300px 300px 300px;
        border-style: solid;
        height: 900px;
        padding-top: 0;   
    }
    
    span{
        text-align: left;
        font-size: 130px;
        
    }
    h1{
        font-size: 150px;
    }
    h2{
        font-size: 40px;
        text-align: left;
        letter-spacing: 1px;
        word-spacing: 0.8;
        width: 15ch;
        padding: 40px;
        /* background-color: #0D8A21; */
    }

    h3{
        font-size: 30px;
    }

    li{
        font-size: 20px;
        padding-top: 25px;
    }


    article p{
        font-size: 20px;
        max-width: 50ch;
        
    }

    .the{
        grid-column: 1;
        grid-row: 1/span 2;
      
        padding-left: 50px;
    }

    .modern{
      
        padding-left: 50px;
        
    }

   

    .grid{
       padding-top: 0; 
        padding-left: 50px;
        
    }

   

    .author{
       
        
        padding-left: 30px;
        
        /* padding-top: 30px; */
    }

    .author p{
        font-size: 50px;
    }

    #tool{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 150px 1fr 300px 100px 250px;
        margin-top: 50px;
        margin-left: 0;
    }

    aside{
       
        /* background-color: #0D8A21; */
        border-style: solid;
        border-color: black;
        border-width: 5px;
        border-style: none;
        margin-right: 30px;
        padding: 0;
        
    }

   

    main{
        grid-column: 2;
        grid-row: 2;
        /* padding-top: 100px; */
    }

    .title1{
        grid-column: 1;
        grid-row: 1;
        background-color: #FDE7BB;
    }

    .title{
        grid-column: 2;
        grid-row: 3;
        
    }

    .line{
        grid-column: 2;
        grid-row: 3;
        padding-top: 100px;
    }

    .line li{
        padding-top: 20px;
        font-size: 20px;
    }

    .page1{
        grid-column: 2;
        grid-row: 4;
    }

    .page2{
        grid-column: 2;
        grid-row: 5;
    }

    #aethetics{
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        grid-template-rows: 300px 250px 200px 1fr 300px 150px 250px 700px 400px 1fr ;
    }

    .title2{
        grid-column: 1;
        grid-row: 1;
        /* background-color: #0D8A21; */
    }
    .symbol{
        grid-column: 2;
        grid-row: 2;
        padding-left: 20px;
    }

    .quote{
        grid-column: 1;
        grid-row: 2;
        border: none;
        
        /* padding-left: 40px; */
    }

    .symbol p{
        font-size: 300px;
    }

    blockquote{
        border-right: 10px solid #888;
        border-bottom: 10px solid #888;
        border-top: 10px solid #888;
        padding-top: 40px;
        padding-left: 200px;
        font-size: 30px;
    }

    .page5{
        grid-column: 2;
        grid-row: 3;
        padding-left: 30px;
    }

    .page6{
        grid-column: 2;
        grid-row: 4;
        padding-left: 30px;

    }

    .grid-line{
        grid-column: 1/span 2;
        grid-row: 5;
        margin-right: 200px;
        border-style: solid;
        border-width: 10px;
        padding-left: 30px;
    }

    .sentence1{
        grid-column: 2;
        grid-row: 6;
        padding-left: 30px;
    }

    .list{
        grid-column: 2;
        grid-row: 7;
        padding-left: 30px;
    }

    .page7{
        grid-column: 2;
        grid-row: 8;
        padding-left: 30px;
        padding-top: 40px;
    }

    .list1{
        grid-column: 2;
        grid-row: 9;
        padding-left: 30px;
    }

    .page8{
        grid-column: 2;
        grid-row: 10;
        padding-left: 30px;
        padding-top: 40px;
    }


    #rectangle{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:repeat(2,250px);
        margin-top: 50px;
    }
    
    .square{
        height: 200px;
        width: 200px;
        
    }
    
    #rectangle > .square{
        background-color: gray;
        border-color: black;
        margin: 0;
    }

    #swiss{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 300px 200px 700px 1fr;
    }

    .title3{
        grid-column: 1;
        grid-row: 1;
        /* background-color: #FDE7BB; */

    }

    .title3 h2{
        background-color: #0D8A21;
    }
    
    .sentence2{
        grid-column: 1;
        grid-row: 2;
    }

    .list2{
        grid-column: 2;
        grid-row: 3;
        background-color:#FFD23F;
        box-shadow: 10px 10px 5px lightblue;
        padding: 20px;

        /* width: 70ch; */
    }

    .final{
        grid-column: 2;
        grid-row: 4;
        padding-top: 40px;
    }





   





}