body{
    padding: 0;
}

h1{
    text-align: left;
    font-family: "Edu AU VIC WA NT Guides", serif;
}

h2{
    font-family: "Audiowide", serif;
    width: 8ch;
    
}

p{
    font-family: "Sour Gummy", sans-serif;
    width: 25ch;
}

.t{
    margin-bottom: 0;
    padding-top: 0;
    
}

span{
    font-size: 30px;
}

.the{
    margin-top: 0;
   border-right: 3px solid #888;
   border-bottom: 3px solid #888;
    
}

.line1{
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
    padding-left: 197px;
}
.line2{
    border-bottom: 3px solid #888;
    /* padding-left: 64px; */
    margin-left: 40px;
    
}

.line3{
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
    padding-left: 180px;
    padding-top: 10px;
    /* margin-left: 30px; */
}



.modern{
    margin-top: 40px;
    /* border-right: 3px solid #888;
    border-bottom: 3px solid #888; */
}

.m{
    
    padding-top: 30px;
    padding-left: 11px;
    border-left: 3px solid #888;
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
}

.line{
    margin-top: 20px;
    
}

.grid{
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
    border-left: 3px solid #888;
    border-top: 3px solid #888;
    padding-left: 70px;
    padding-top: 10px;
}


.author{
    margin-top: 0;
    margin-left: 80px;
    margin-right: 79px;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 20px;
    width: 6ch;
    border-left: 3px solid #888;
    border-right: 3px solid #888;
   
}



aside{
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
    margin-right: 80px;
    /* background-size: 100px 100px;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px); */
}

main{
    border-left:  3px solid #888;
    border-top:  3px solid #888;
    margin-top: 30px;
    padding-left: 20px;
}





#tool{
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
            "aside" "main" "section";
    /* width: 33ch; */
    
}

.element{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px 70px 70px 70px 200px;
    padding-top: 4rem;
    margin-right: 0;
    
}

.title{
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
  
}

.rec{
    grid-column: 1;
    grid-row: 2;
    margin-top: 0;
    margin-left: 0;
    border-right: 3px solid #888;
    margin-right: 150px;
}

.stand{
    grid-column: 1;
    grid-row: 3;
    margin-left: 0;
    margin-top: 0;
    border-right: 3px solid #888;
    margin-right: 40px;
}

.rep{
    grid-column: 1;
    grid-row: 4;
    margin-left: 0;
    margin-top: 0;
    margin-right: 60px;
    border-right: 3px solid #888;
}

.page3{
    grid-column: 1;
    grid-row: 5;
    
}

.page4{
    margin-top: 3rem;
    /* width: 33ch; */
}

#aethetics{
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 100px 100px 300px;
}

.title2{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin-top: 50px;
}

.symbol{
    display: grid;
    grid-column: 1;
    grid-row: 2;
}

.symbol p{
    font-size: 40px;
    padding-left: 100px;
}

.quote{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
    border-top: 3px solid #888;
    /* padding-top: 10px; */
    width: 36ch;
}


.page5{
    display: grid;
    grid-column: 1;
    grid-row: 4;
}


blockquote{
    font-size: 20px;
    font-family: "Pacifico", cursive;
}

@media (min-width: 1281px){

    body{
        padding: 30px;
    }

    header{
        padding-left: 100px;
        height: 100ch;
        background-size: 400px 200px;
        background-image:
        linear-gradient(0deg, transparent 49%, #000 50%, transparent 51%),
        linear-gradient(-90deg, transparent 49%, #000 50%, transparent 51%);
    
    }

  

    .line1{
        display: none;
        background-color: white;
    }
    
    .line2{
        display: none;
    }
    
    .line3{
        display: none;
    }

    .the{
        font-size: 120px;
        border: none;
        margin-left: 10rem;
       
        
    }

    .t{
        padding-top: 90px;
    }

    .modern{
        margin-left: 510px;
        background-color: white;
        margin-top: 40px;
        

      
    }

    .grid{
        border: none;
        margin-left: 1170px;
    }

    .m{
        font-size: 120px;
        padding-right: 0;
        border: none;
        
    }

    .g{
        font-size: 120px;
    }

    .r{
        font-size: 120px;
    }

    .i{
        font-size: 120px;
    }

    .d{
        font-size: 120px;
    }

    .author{
        font-size: 40px;
        margin-left: 530px;
        margin-top: 30px;
        border: none;
    }

    article{
        margin-top: 150px;
    }

    h2{
        width: 10ch;
    }

    #tool{
        margin-bottom: 0;
        display: grid;
        grid-template-columns: 800px 800px;
        grid-template-rows: 400px 500px 900px;
       
    }

    aside{
        grid-column: 1;
        grid-row: 1;
        margin-right: 0;
    }

    main{
        grid-column: 2;
        grid-row: 2;
    }

    main p{
        width: 10ch;
    }

    section{
        grid-column: 1/span 2;
        grid-row: 3;

    }

    section p{
        width: 40ch;
    }


    #tool > main{
        grid-area: main;
        grid-column: 2;
        grid-row: 2;
        border-left:  3px solid #888;
        border-top:  3px solid #888;
        padding-left: 30px;
        margin-left: 0;
        margin-top: 0;
       

    }
    #tool > section{
        grid-area: section;
        margin-left: 400px;
        
        grid-column: 1/span 2;
        grid-row: 3;
        padding-top: 100px;
        width: 200ch;
        
      
    }

    h2{
        font-size: 80px;
    }

    article p{
        font-size: 30px;
    }

    .element{
        display: grid;
        grid-template-columns: 300px 500px 400px ;
        grid-template-rows: 100px 200px 200px;
        margin-left: 160px;
        margin-right: 160px;
        width: 160ch;
        
    }

    .title{
        grid-column: 1/span 3;
        grid-row: 1;
        
    }

    h3{
        font-size: 40px;
        width: 200ch;
    }

    .rec{
        grid-column: 1;
        grid-row: 2;
        margin-right: 0;
    }

    .stand{
        grid-column: 2;
        grid-row: 2;
        margin-right: 0;
        padding-left: 30px;
    }

    .rep{
        grid-column: 3;
        grid-row: 2;
        margin-right: 0;
        padding-left: 30px;
    }

    .page3{
        grid-column: 1/span 2;
        grid-row: 3;
        margin-top: 50px;
    }

    .page4{
        margin-left: 160px;
        margin-top: 100px;
        width: 700px;
    }

    #aethetics{
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 300px 200px;
    }

    .title2{
        display: grid;
        grid-column: 1/span 2;
        grid-row: 1;
        margin-top: 50px;
        
    }

    .title2 h2{
        width: 20ch;
    }
    
    .symbol{
        display: grid;
        grid-column: 2;
        grid-row: 2;
    }
    
    .symbol p{
        font-size: 150px;
        padding-left: 100px;
        padding-top: 0;
    }
    
    .quote{
        display: grid;
        grid-column: 1;
        grid-row: 2;
        border-right: 3px solid #888;
        border-bottom: 3px solid #888;
        border-top: 3px solid #888;
        padding-top: 10px;
        margin-top: 100px;
        width: 100ch;
        /* font-size: 100px; */
    }

    

    blockquote{
        font-size: 50px;

        
    }
    
    
    .page5{
        display: grid;
        grid-column: 1;
        grid-row: 3;
    }



    }



