h1{
    /* font-size: 40px; */
    text-align: left;
    font-family: Doto;
}

h2{
    font-family: Doto;
}


span{
    border-style: solid;
    padding: 10px;
    line-height: 2;
}

article p{
    font-family: Geist Mono;
}

.author{
    margin-left: 1rem;
    font-size: 20px;
}

.line1{
    display: none;
}

.line2{
    display: none;
}

.line3{
    display: none;
}

.grid{
    border: none;
}

#tool{
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
            "aside" "main" "section";
    /* width: 33ch; */
    
}

.element{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px 70px 70px 70px 200px;
    padding-top: 4rem;
    margin-right: 0;
    
}

.title{
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
    
  
}

.rec{
    grid-column: 1;
    grid-row: 2;
    margin-top: 0;
    margin-left: 0;
    border-top: 3px solid #888;
    border-bottom: 3px solid #888;
    margin-right: 0;
}

.stand{
    grid-column: 1;
    grid-row: 3;
    margin-left: 0;
    margin-top: 0;
    border-bottom: 3px solid #888;
}

.rep{
    grid-column: 1;
    grid-row: 4;
    margin-left: 0;
    margin-top: 0;
    border-bottom: 3px solid #888;
}

.page3{
    grid-column: 1;
    grid-row: 5;
    
}

.page4{
    margin-top: 3rem;
    /* width: 33ch; */
}

#aethetics{
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 100px 100px 200px;
}

.title2{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    margin-top: 50px;
}

.symbol{
    display: grid;
    grid-column: 1;
    grid-row: 2;
}

.symbol p{
    font-size: 40px;
    padding-left: 100px;
}

.quote{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    border-right: 3px solid #888;
    border-bottom: 3px solid #888;
    border-top: 3px solid #888;
    padding-top: 10px;
}


.page5{
    display: grid;
    grid-column: 1;
    grid-row: 4;
}


blockquote{
    font-size: 20px;
    font-family: Caveat;
}

@media (min-width: 1281px){
    header{
        padding-left: 30rem;
        width: 100ch;
        
    }

    .author{
        font-size: 40px;
    }

    
    span{
        text-align: left;
        font-size: 130px;
        
    }
    h2{
        font-size: 80px;
        text-align: left;
        letter-spacing: 1px;
        word-spacing: 0.8;
        width: 15ch;
        padding-left: 40px;
    }

    article p{
        font-size: 30px;
        
    }

    

    #tool{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "aside main"
            "section section";
        padding-left: 80px;
        padding-right: 80px;
    }

    #tool > section{
        grid-area: section;
        margin-left: 80px;
        margin-right: 80px;
        padding-top: 50px;
    }

    .element{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px 100px 100px 200px;
        margin-left: 160px;
        margin-right: 160px;
        width: 160ch;
        
    }

    .title{
        grid-column: 1;
        grid-row: 1;
        
    }

    h3{
        font-size: 40px;
        width: 200ch;
    }

    .rec{
        grid-column: 1;
        grid-row: 2;
        margin-right: 160px;
    }

    .stand{
        grid-column: 1;
        grid-row: 3;
    }

    .rep{
        grid-column: 1;
        grid-row: 4;
    }

    .page3{
        grid-column: 1;
        grid-row: 5;
        width: 100ch;
    }

    .page4{
        
        margin-left: 160px;
        width: 100ch;
    }

    #aethetics{
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 300px 300px;
    }

    .title2{
        display: grid;
        grid-column: 1/span 2;
        grid-row: 1;
        margin-top: 50px;
        
    }

    .title2 h2{
        width: 33ch;
    }
    
    .symbol{
        display: grid;
        grid-column: 2;
        grid-row: 2;
    }
    
    .symbol p{
        font-size: 100px;
        padding-left: 100px;
        padding-top: 0;
    }
    
    .quote{
        display: grid;
        grid-column: 1;
        grid-row: 2;
        border-right: 3px solid #888;
        border-bottom: 3px solid #888;
        border-top: 3px solid #888;
        padding-top: 10px;
        margin-top: 100px;
    }

    

    blockquote{
        font-size: 50px;
    }
    
    
    .page5{
        display: grid;
        grid-column: 2;
        grid-row: 3;
        padding-top: 100px;
    }





}