header{
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

aside{
    display: flex;
    
}

.tool{
    display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            "aside" "main" "main";
            
}


.element{
    display: grid;
    grid-template-columns: 450px;
    grid-template-rows: 200px 100px 100px 170px 10px;
    padding-top: 0;
    margin-right: 20px;
}


.title{
    grid-column: 1;
    grid-row: 1;
    border-style: solid;
    margin-top: 0;
    padding-left: 20px;
}

.title h3{
    margin-top: 0;
}



.rec{
    grid-column: 1;
    grid-row: 2;
    margin-top: 0;
    margin-left: 0;
    border-style: solid;
    padding-left: 20px;
}

.rec p{
    margin-top: 0;
    font-size: 25px;
    padding-top: 20px;
}

.stand{
    grid-column: 1;
    grid-row: 3;
    margin-left: 0;
    margin-top: 30px;
    border-style: solid;
    padding-left: 20px;
}

.stand p{
    font-size: 25px;
}

.rep{
    grid-column: 1;
    grid-row: 4;
    margin-left: 0;
    border-style: solid;
    margin-top: 60px;
    padding-left: 20px;
}

.rep p{
    font-size: 25px;
}

.page3{
    grid-column: 1;
    grid-row: 5;
    
}

.page4{
    margin-top: 3rem;
    width: 60ch;
}




@media (min-width: 1281px){

    article{
        padding-left: 10rem;
        padding-right: 10rem;
    }
    h1{
        font-size: 180px;
        margin-left: 20rem;
        margin-right: 20rem;
    }

    header p{
        margin-left: 80rem;
        font-size: 50px;
    }
    h2{
        font-size: 80px;
        width: 500px;
        
    }

    h3{
        font-size: 40px;
    }

    main p{
        font-size: 30px;
        padding-top: 2rem;
    }

    .tool{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            "aside main main";
    }

    main{
        margin-left: 10rem;
        width: 100ch;
    }
    .element{
        display: grid;
        grid-template-columns: 300px 400px 400px 400px;
        grid-template-rows: 170px 10px;
        
    }

    .title{
        grid-column: 1;
        grid-row: 1;
        border-style: solid;
        padding-top: 30px;
        width: 400px;
        padding-left: 30px;
    }

    .rec{
        grid-column: 2;
        grid-row: 1;
        border-style: solid;
        padding-top: 40px;
        width: 300px;
        margin-left: 140px;
        padding-left: 80px;
       
    }

    .rec p{
        font-size: 30px;
        padding-top: 0;
    }

    .stand{
        grid-column: 3;
        grid-row: 1;
        border-style: solid;
        padding-top: 5px;
        margin-left: 130px;
        width: 300px;
        margin-top: 0;
    }

    .stand p{
        font-size: 30px;
        padding-top: 0;
    }

    .rep{
        grid-column: 4;
        grid-row: 1;
        border-style: solid;
        padding-top: 0;
        width: 300px;
        padding-left: 30px;
        margin-left: 60px;
        padding-right: 30px;
        margin-top: 0;
    }

    .rep p{
        font-size: 30px;
        padding-top: 0;
    }

    .page3{
        grid-column: 1/span 4;
        grid-row: 2;
    }

    .page4{
        width: 180ch;
    }

    section p{
        font-size: 30px;
    }

    footer{
        width: 500ch;
    }

    
}

@media (min-width: 1100px) and (max-width: 1280px){
    h1{
        font-size: 180px;
        margin-left: 10rem;
        margin-right: 20rem;
    }


    header p{
        margin-left: 50rem;
        font-size: 50px;
    }

    h2{
        font-size: 50px;
        width: 300px;
        
    }
    .tool{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            "aside main main";
    }

    .element{
        display: grid;
        grid-template-columns: 100px 100px ;
        grid-template-rows: 170px 170px 10px;
        margin-left: 5rem;
        
    }

    .title{
        grid-column: 1;
        grid-row: 1;
        border-style: solid;
        padding-top: 0;
        width: 400px;
        padding-left: 50px;
        
    }

    .rec{
        grid-column: 2;
        grid-row: 1;
        border-style: solid;
        padding-top: 0;
        width: 480px;
        margin-left: 350px;
        padding-left: 80px;
        
    }

    .rec p{
        font-size: 30px;
    }

    .stand{
        grid-column: 1;
        grid-row: 2;
        border-style: solid;
        padding-top: 0;
        padding-left: 50px;
        width: 400px;
        margin-left: 0;
    }

    .stand p{
        font-size: 30px;
        margin-top: auto;
    }

    .rep{
        grid-column: 2;
        grid-row: 2;
        border-style: solid;
        padding-top: 0;
        width: 450px;
        padding-left: 80px;
        margin-left: 350px;
        padding-right: 30px;
        
    }

    .rep p{
        font-size: 30px;
        padding-bottom: 30px;
    }

    .page3{
        grid-column: 1/ span 2;
        grid-row: 3;
        width: 800px;
    }

    .page4{
        margin-top: 3rem;
    }


}

@media (min-width: 950px) and (max-width: 1099px){
    .element{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 150px 170px 10px;
        margin-left: 5rem;
        
    }

    .title{
        grid-column: 1/span 3;
        grid-row: 1;
        border-style: solid;
        padding-top: 0;
        width: 500px;
        padding-left: 50px;
        
    }

    .rec{
        grid-column: 1/span 1;
        grid-row: 2;
        border-style: solid;
        padding-top: 0;
        width: 150px;
        margin-left: 0;
        padding-left: 40px;
        
    }

    .rec p{
        font-size: 20px;
    }

    .stand{
        grid-column: 2/span 1;
        grid-row: 2;
        border-style: solid;
        padding-top: 0;
        padding-left: 50px;
        width: 150px;
        margin-left: 90px;
    }

    .stand p{
        font-size: 20px;
        margin-top: auto;
    }

    .rep{
        grid-column: 2/span 1;
        grid-row: 2;
        border-style: solid;
        padding-top: 0;
        width: 150px;
        padding-left: 80px;
        margin-left: 350px;
        padding-right: 30px;
        
    }

    .rep p{
        font-size: 20px;
        padding-bottom: 30px;
    }

    .page3{
        grid-column: 1/ span 3;
        grid-row: 3;
        width: 800px;
    }

    .page4{
        margin-top: 3rem;
    }
}