:root{
  --primary-color:#EDDCBE;
  --text-color:black;
  --yellow-color:#fbb300;
  --red-color:#d53e33;
  --blue-color:#377af5;
  --green-color:#0D8A21;
  --header-color:white;
  --border-display: none;
  --border-style: 3px solid black;
  --border-desk: 5px solid black;
  --transit-style: bottom .6s linear;
}


header{
  justify-content: center;
  
}

.header{
  display: none;

}

.container{
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  height: 450px;
  margin-top:20px;
  background: var(--header-color);
  position: relative;
  border: var(--border-style);
}
.section .back{
  grid-template-areas: 
    'back-c1 project-title'
    'back-c1 .....';

}

.section .back, .section .back2, .section .back3 {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 300px 50px;
  grid-template-rows: 150px 150px;
  transition:
    grid-template-columns .6s linear,
    grid-template-rows .6s linear;
}
.section:hover .back, .section:hover .back2, .section:hover .back3 {
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px 300px;
  transition:
  grid-template-columns .6s linear,
  grid-template-rows .6s linear;
}
.section .back .back-c1 {
  grid-area: back-c1;
  background: var(--green-color);
}
.project-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow-color);
}
.project-title h3 {
  display: block;
  transform: rotate(180deg);
  transition:
    transform .6s linear;
  background-color: var(--yellow-color);
  padding: 0;
  
}
.section:hover .back .project-title h3,.section:hover .back2 .project-title h3, .section:hover .back3 .project-title h3{
  transform: rotate(270deg);
  transition:
  transform .6s linear; 
}


.middle-c1, .middle-c2, .middle-c3{
  width: 50%;
  height: 300px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-position: top center;
  background-size: cover;
  transition:
    width .6s linear,
    height .6s linear;
}
.middle-c1{
  background-color: var(--red-color);
}
.section:hover .middle-c1, .section:hover .middle-c2,.section:hover .middle-c3 {
  width: 250px;
  height: 400px;
  transition:
    width .6s linear,
    height .6s linear;
}

.front-c1{
  background: var(--blue-color);
}

.front-c1, .front-c2, .front-c3{
  width: 80%;
  max-height: 250px;
  padding: 15px;
  position: absolute;
  bottom: 100px;
  left: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
  transition: var(--transit-style);
}
.section:hover .front-c1, .section:hover .front-c2, .section:hover .front-c3{
  bottom: 50px;
  transition: var(--transit-style);
}
h2 {
  display: block;
  text-align: left;
  letter-spacing: 1px;
  margin: 0px 0px 10px 25px;
  font-size: 16px;
  padding-left: 0;
}
.section .front-c1{
  /* font: 10px/15px var(--mono); */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section a.article-link {
  width: 110px;
  height: 30px;
  position: absolute;
  bottom: 85px;
  left: 85px;
  background: var(--text-color);
  font-size: 10px;
  text-transform: uppercase;
  color: var(--header-color);
  text-decoration: none;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transit-style);
}
.section:hover a.article-link {
  bottom: 35px;
  transition: var(--transit-style);
}

.section .back2{
  grid-template-areas: 
    'back-c2 project-title'
    'back-c2 .....';
    
}

.back-c2{
  grid-area: back-c2;
  background-color: var(--red-color);
}

.middle-c2{
  background-color: var(--blue-color);

}

.front-c2{
  background: var(--green-color);
}

.section .back3{
  grid-template-areas: 
    'back-c3 project-title'
    'back-c3 .....';
   
}

.back-c3{
  grid-area: back-c3;
  background-color: var(--blue-color);
}

.middle-c3{
  background-color: var(--green-color);
}

.front-c3{
  background-color: var(--red-color);
}

.binding{
  background-color: var(--yellow-color);
  padding: 30px;
  border: var(--border-style);
}

h1{
  color: var(--text-color);
  padding: 10px;
}

.color{
  color: var(--text-color);
}

@media (min-width: 768px) {
  .section .back, .section .back2, .section .back3 {
    width: 100%;
    height: 200px;
    grid-template-columns: 500px 50px;
    grid-template-rows: 150px 200px;
 
  }
  .section:hover .back, .section:hover .back2, .section:hover .back3 {
    grid-template-columns: 400px 150px;
    grid-template-rows: 50px 300px;
  }
  
  .middle-c1, .middle-c2, .middle-c3{
    width: 70%;
   
  }

  .section:hover .middle-c1, .section:hover .middle-c2,.section:hover .middle-c3 {
    width: 40%;
  }
  
  
  .front-c1, .front-c2, .front-c3{
    width: 60%;
  }

  h2 {
    font-size: 1.5rem;
  }
 
  .section a.article-link {
    height: 40px;
  }
}


@media (min-width:1440px){
  
  .section .back, .section .back2, .section .back3 {
    grid-template-columns: 600px 50px;
    grid-template-rows: 150px 200px;
 
  }
  .section:hover .back, .section:hover .back2, .section:hover .back3 {
    grid-template-columns: 400px 150px;
    grid-template-rows: 50px 300px;
  
  }
  
  .middle-c1, .middle-c2, .middle-c3{
    width: 70%;
    height: 300px;
  }

  .section:hover .middle-c1, .section:hover .middle-c2,.section:hover .middle-c3 {
    width: 40%;
    height: 400px;
  }
  
  
  .front-c1, .front-c2, .front-c3{
    width: 60%;

  }


  h2 {
    font-size: 2rem;
  }
 
  .section a.article-link {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }

  h1{
    padding: 20px;
  }
 
  

}
